body {
    font-family: Arial, sans-serif;
}

form {
    width: 600px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 
    5px;
}

.custom-select {
    width: 200px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

.input_serial {
    width: 50%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgb(231, 230, 230);

}

input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #2c5bdd;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}


