body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
  }
  
  form label {
    flex-basis: 100%;
  }
  
  form input[type="text"],
  form select {
    flex-basis: calc(50% - 10px);
    padding: 5px;
    margin-right: 10px;
  }
  
  form button[type="submit"] {
    margin-top: 20px;
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  form button[type="submit"]:hover {
    background-color: #2980b9;
  }
  
  form button[type="submit"]:active {
    background-color: #1e77b0;
  }
  
  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  #text1 {
    width: 600px; /* Ajusta el ancho según tus necesidades */
    height: 120px; /* Ajusta el largo según tus necesidades */
  }

 .help-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: rgb(32, 98, 241);
    color: white;
    border-radius: 50%;
    font-size: 20px;
    margin-left: 10px;
  }
 